<!doctype html>
<html>
<head>
<title>Do you have diabetes?</title>
</head>
<body>
    <form action = "/getdelay" method="POST">
        <label>Pregnancies</label><br>
        <input type="number" name="pregnancies" placeholder="e.g: 2" required><br>
        <label>Glucose</label><br>
        <input type="number" name="glucose" placeholder="e.g: 89" required><br>
        <label>Insulin</label><br>
        <input type="number" name="insulin" placeholder="e.g: 79" required><br>
        <label>BMI</label><br>
        <input type="number" name="bmi" placeholder="e.g: 28.2" required><br>
        <label>Age</label><br>
        <input type="number" name="age" placeholder="e.g: 21" required><br>
        <p> <input type ="submit" value="submit" /> </p>
    </form>
    <br>
    <div class="result">
        {% if result %}
            {% for variable, value in original_input.items() %}
                <b>{{ variable }}</b> : {{ value }}
            {% endfor %}
            <br>
            <br> Predicted number of bikes in use:
               <p style="font-size:50px">{{ result }}</p>
        {% endif %}
    </div>
    </body>
</html>